:root {
  --background-color: #0b2545;
  --header-bg-color: #134074;
  --nav-bg-color: #13315c;
  --text-color: #eef4ed;
  --tile-bg-color: #13315c;
  --tile-padding: 20px;
  --tile-margin: 10px;
  --tile-hover-scale: 1.05;
  --footer-bg-color: #13315c;
}

header {
  background-color: var(--header-bg-color);
  color: var(--text-color);
  padding: 10px;
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}

h1 {
  margin: 0;
  margin-left: 30px;
  align-items: center;
  align-content: center;
  align-self: center;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0px; /* Added margin */
  padding: 0;
  background-color: var(--background-color);
  margin-left: auto;
  margin-right: auto;
}

.file-input {
  align-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.file-input input[type="file"] {
  opacity: 0;
  position: absolute;
}

.file-input label {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.file-input label:hover {
  background-color: #333; /* Change background color on hover */
}

.file-input label::before {
  content: '\f1e0'; /* Unicode character for a share icon */
  font-family: 'FontAwesome'; /* Use a font that includes the share icon */
  font-size: 20px;
}


button {
  /* Keep your existing styles for the button */
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #333;
}

.main-container {
  background-color: var(--tile-bg-color);
  padding: var(--tile-padding);
  margin: var(--tile-margin);
  color: var(--text-color);
  text-align: center;
  transition: transform 0.1s;
  margin-left: 40px; /* Adjusted left margin */
  margin-right: 40px; /* Adjusted right margin */
  border-radius: 5px;
}

.link {
  background-color: black;
  color: white;
  padding: 10px 0px;
  margin-top: 20px; /* Adjust margin as needed */
}

.link a {
  color: #007BFF; /* Adjust link color */
  text-decoration: none;
  cursor: pointer;
}

.link a:hover {
  text-decoration: underline; /* Add underline on hover */
}

footer {
  background-color: var(--footer-bg-color);
  color: var(--text-color);
  text-align: center;
  padding: 0px;
  position: fixed;
  bottom: 0;
  width: 100%;
}