:root {
  --background-color: #0b2545;
  --header-bg-color: #134074;
  --nav-bg-color: #13315c;
  --text-color: #eef4ed;
  --tile-bg-color: #13315c;
  --tile-padding: 20px;
  --tile-margin: 10px;
  --tile-hover-scale: 1.05;
  --footer-bg-color: #13315c;
}

header {
  background-color: var(--header-bg-color);
  color: var(--text-color);
  padding: 10px;
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}

h1 {
  margin: 0;
  margin-left: 30px;
  align-items: center;
  align-content: center;
  align-self: center;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0px; /* Added margin */
  padding: 0;
  background-color: var(--background-color);
  margin-left: auto;
  margin-right: auto;
}

.main-container {
  background-color: var(--tile-bg-color);
  padding: var(--tile-padding);
  margin: var(--tile-margin);
  color: var(--text-color);
  text-align: center;
  transition: transform 0.1s;
  margin-left: 40px; /* Adjusted left margin */
  margin-right: 40px; /* Adjusted right margin */
  border-radius: 5px;
}

footer {
  background-color: var(--footer-bg-color);
  color: var(--text-color);
  text-align: center;
  padding: 0px;
  position: fixed;
  bottom: 0;
  width: 100%;
}